* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f7f7f7;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background: #3b1c59;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.order-btn {
  border: 1px solid #ff5c7a;
  padding: 6px 16px;
  border-radius: 20px;
}

/* HERO */
.hero {
  display: flex;
  padding: 80px;
  background: linear-gradient(135deg, #3b1c59, #5b2b82);
  color: rgb(255, 255, 255);
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  
}
.hero-img {
  max-width: 480px;
  width: 100%;
  animation: float 4s ease-in-out infinite;
}

/* Optional subtle animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.mockup {
  background: white;
  color: black;
  padding: 40px;
  border-radius: 12px;
}

/* BUTTONS */
.primary-btn {
  background: linear-gradient(90deg, #ff6a00, #ff3d7f);
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 25px;
  margin-top: 20px;
}

.secondary-btn {
  margin-top: 20px;
  padding: 10px 22px;
  border-radius: 20px;
  border: 1px solid #ff6a00;
  background: transparent;
}

/* SERVICES */
.services {
  padding: 80px;
  text-align: center;
  background:#ffff;
  font-size: 20px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.service-card {
  background: linear-gradient(90deg, #ff6a00, #ff3d7f);
  padding: 30px;
  border-radius: 12px;
  color: #ffffff;
  opacity:calc(80%);
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  padding: 80px;
  gap: 40px;
  color: #000000;
}

.testimonial-card {
  background:#3b1c59;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  color: #ffff;
}

/* EXPERIENCE */
.experience {
  display: flex;
  padding: 70px;
  gap: 40px;
  color: #000000dd;
  background-color: #f7f1f3;
}

/* CTA */
.cta {
  background: linear-gradient(90deg, #ff6a00, #ff3d7f);
  color: white;
  text-align: center;
  padding: 50px;
}

/* FOOTER */
.footer {
  background: #3b1c59;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
}

.navbar a {
  color: white;
  text-decoration: none;
}
section {
  scroll-margin-top: 90px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: -9px;
}

.logo-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.logo-text {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
